html{
  font-size: 16px;
  background-color: rgb(255, 214, 100);
}

h1{
  font-family:  'Montserrat', sans-serif;
  font-size: 4rem;
  text-align: center;
  line-height: 2.8rem;
  color: rgb(0, 0, 0);
  
}

#container{
  width: auto;
}

#main #icons{
  visibility: hidden;
}

.innerDiv{
  background: rgb(208, 235, 198);
  box-shadow: rgb(223, 241, 119) 15px 15px;
  margin-left: 2.5%;
  margin-top: 2rem;
  padding: 0.8rem;
  width: 82%;
  height: auto;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  
}


@media screen and (min-width: 645px) {
  html{
    font-size: 24px;
  }
}

@media screen and (min-width: 1000px) {
    html{
      font-size: 32px;
      
    }
    #container{
      width: 50%;
      float: left;
      margin-left: 2%;
    }

   #main #icons{
      visibility: visible;
      width: 35%;
      position: relative;
      float: right;
      font-size: 5rem;
    }

    #main{
      margin-left: 2rem;
    }
  }